@page
@model ToDo.Pages.List.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Schedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Schedule.ID" />
            <div class="form-group">
                <label asp-for="Schedule.DateCreated" class="control-label"></label>
                <input asp-for="Schedule.DateCreated" class="form-control" />
                <span asp-validation-for="Schedule.DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schedule.Title" class="control-label"></label>
                <input asp-for="Schedule.Title" class="form-control" />
                <span asp-validation-for="Schedule.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schedule.Description" class="control-label"></label>
                <input asp-for="Schedule.Description" class="form-control" />
                <span asp-validation-for="Schedule.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schedule.Date" class="control-label"></label>
                <input asp-for="Schedule.Date" class="form-control" />
                <span asp-validation-for="Schedule.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schedule.Status" class="control-label"></label>
                <input asp-for="Schedule.Status" class="form-control" />
                <span asp-validation-for="Schedule.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
